# HTML content for the product page
    html_content = """
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Our Latest Products</title>
        <link rel="stylesheet" href="/static/styles.css"> <!-- Link to CSS file -->
    </head>
    <body>
        <section class="section" id="products">
            <div class="container">
                <div class="row">
                    <!-- Product 1: Rice -->
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="/static/images/rice.jpg" alt="Rice">
                            </div>
                            <div class="down-content">
                                <h4>Rice</h4>
                                <span>80.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product 2: Wheat -->
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="/static/images/wheat.jpg" alt="Wheat">
                            </div>
                            <div class="down-content">
                                <h4>Wheat</h4>
                                <span>12.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Product 3: Maize -->
                    <div class="col-lg-4">
                        <div class="item">
                            <div class="thumb">
                                <div class="hover-content">
                                    <ul>
                                        <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                        <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <img src="/static/images/maize.jpg" alt="Maize">
                            </div>
                            <div class="down-content">
                                <h4>Maize</h4>
                                <span>13.00</span>
                                <ul class="stars">
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    </html>
